<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Ajout stage</title>
</head>
<body>
	<!-- Page Content -->
	<div class="container pt-5">

		<form th:action="@{/stage/add}" th:object="${stage}" method="post">

			<input type="text" th:field="*{id}" hidden readonly> 
			<input type="text" th:field="*{nouveau}" hidden readonly>
			<!--                <input type="text" th:field="*{datederniereconnection}" hidden readonly> -->
			<!--                <input type="text" th:field="*{datedernieremodification}" hidden readonly> -->
			<!--                <input type="text" th:field="*{datecreation}" hidden readonly> -->

			<div class="form-group row">
				<div class="col-md-4 mt-5">
					<label for="datecandidature">Date de candidature</label>
					<div class="input-group date">
						<input type="text" class="form-control" autocomplete="off" th:id="datecandidature" th:name="datecandidature" th:value="*{datecandidature}" />
						<div class="input-group-append">
							<span class="input-group-text"><i
								class="far fa-calendar-alt"></i></span>
						</div>
					</div>
				</div>
			</div>
			<!--            <div class="form-group"> -->
			<!--                    <label for="inputNumeroRue">Date de candidature</label> <input type="date" -->
			<!--                        class="form-control" id="inputNumeroRue" th:field="*{datecandidature}"> -->
			<!--                    <p class="alert alert-warning" role="alert" th:if="${#fields.hasErrors('datecandidature')}" th:errors="*{datecandidature}"></p> -->

			<!--            </div> -->

			<div class="col-md-4 mt-5">
				<label for="datereponse">Date de réponse</label>
				<div class="input-group date">
					<input type="text" class="form-control" id="datereponse" autocomplete="off" th:field="*{datereponse}" />
					<div class="input-group-append">
						<span class="input-group-text"><i
							class="far fa-calendar-alt"></i></span>
					</div>
				</div>
			</div>

			<div class="col-md-4 mt-5">
				<label for="daterelance">Date de relance</label>
				<div class="input-group date">
					<input type="text" class="form-control" id="daterelance" autocomplete="off" th:field="*{daterelance}" />
					<div class="input-group-append">
						<span class="input-group-text"><i
							class="far fa-calendar-alt"></i></span>
					</div>
				</div>
			</div>

			<button type="submit" class="btn btn-primary" value="Submit">Enregistrer</button>
		</form>

	</div>

</body>
</html>